.git
.github
.gitattributes
.gitignore
.idea
.vscode
.zed
.fleet
.agents
.opencode

node_modules
vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*

.env
.env.backup
.env.production
.env.*.local

/database/.sqlite
/database/database.sqlite

Homestead.json
Homestead.yaml

auth.json
npm-debug.log
yarn-error.log

.phpunit.result.cache
.phpunit.cache
phpunit.xml.dist

README.md
AGENTS.md
TODO.md
Makefile
docker-compose.override.yml
